.body
{
	margin: 0;
	padding: 0;
	background-image: url(black.png);
	background-size: cover;
	font-size: 16px;
	color:red;
	font-family: sans-serif;
	font-weight: 300;
}
#login-box
{
	position: relative;
	margin:5% auto;
	width: 600px;
	height:400px;
	background:beige;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}
.left-box
{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding:40px;
	width:300px;
	height: 400px;
}
h1{
	margin: 0 0 20px;
	font-weight: 300;
	font-size: 28px;
}
input[type="text"],
input[type="password"]
{
	display: block;
	box-sizing: border-box;;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #aaa;
	font-family: sans-serif;
	font-weight: 400px;
	font-size: 15px;
}

.right-box{
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
	width:300px;
	height: 400px;

}
.right-box .signinwith
{
	display: block;
	margin-bottom: 40px;
	font-size: 28px;
	color:#fff;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0.6);
}
button.socail{
	margin-bottom: 20px;
	width:220px;
	height:36px;
	border-radius: 2px;
	font-family: sans-serif;
	font-weight: 500;
}




